<div class="backgroundColor text-center text-white">
    <div class="backgroundColor py-5">
        <div class="container py-5">
            <div class="row">

                <div class="col-md-4">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>

                <div class="col-md-4">
                    <h3>AROUND THE WEB</h3>
                    <i class="fa-brands rounded-circle border me-3 p-2 fa-facebook"></i>
                    <i class="fa-brands rounded-circle border me-3 p-2 fa-twitter"></i>
                    <i class="fa-brands rounded-circle border me-3 p-2 fa-linkedin"></i>
                    <i class="fa-solid  rounded-circle border p-2 fa-globe"></i>
                </div>

                <div class="col-md-4">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>

            </div>
        </div>
    </div>

    <div class="py-4 darkBackgroundColor">
        <p class="m-0">Copyright © Your Website 2021</p>
    </div>
</div>