<div class="container py-5 text-center">
    <div class="pt-5 pb-1 color">
        <h1 class="m-0 pt-5 fw-bold">PORTFOLIO COMPONENT</h1>
        <div class="test position-relative d-inline-block p-2">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                <div
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

    </div>
    
</div>