<div class="container py-5 text-center">
    <div class="pt-5 pb-1 color">
        <h1 class="m-0 pt-5 fw-bold">PORTFOLIO COMPONENT</h1>
        <div class="test position-relative d-inline-block p-2">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>

    <div class="row g-5">

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal1"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal3"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal1"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="animate position-relative">
                <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal3"
                    class="layer w-100 h-100 rounded-3 top-0 position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white fa-5x"></i>
                </div>
            </div>


        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <img src="assets/images/poert1.png" class="w-100" alt="">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <img src="assets/images/port2.png" class="w-100" alt="">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <img src="assets/images/port3.png" class="w-100" alt="">
            </div>

        </div>
    </div>
</div>