<div class="backgroundColor text-white py-5">
    <div class="container text-center py-5">
        <div class="py-5">
            <div class="py-5">
                <div class="pt-5">
                    <img class="w-20" src="assets/images/avataaars.svg" alt="">
                    <h1 class="m-0 pt-5 fw-bold">START FRAMEWORK</h1>
                    <div class="test position-relative d-inline-block p-2">
                        <i class="fa-solid fa-star text-white"></i>
                    </div>
                    <p class="m-0">Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</div>